@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --color-primary: rgb(221, 225, 255);
  --color-primary-dark: rgb(0, 18, 73);
  --color-work-primary : rgb(219, 239, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
}

#navbar {
  height: 5rem;
  width: 100%;
  font-size: x-large;
  background-color: var(--color-primary-dark);
  display: flex;
  padding: 20px max(5%, 10px);
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.brand a{
  color: var(--color-work-primary);
  font-size: larger;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#navbar ul {
  list-style-type: none;
}
.list-item-inline {
  display: inline;
}

#navbar ul li a {
  padding: 0 1rem;
  color: var(--color-primary);
}
/* main {
  display: grid;
} */
#welcome-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2rem;
  color: var(--color-primary-dark);
}

#welcome-section h1 {
  /* letter-spacing: 0.01em; */
  text-align: center;
}
#welcome-section .sub-title {
  text-align: center;
  color: rgb(0, 115, 115);
}

.projects {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 31em));
  gap: 3rem;
  padding-bottom: 8rem;
  background: var(--color-work-primary);
}
.projects header {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2em;
  padding: 5rem 0;
  padding-bottom: 2rem;
}

.projects header h2 {
  padding-bottom: 1rem;
}

.projects header hr {
  border: .5px solid rgb(148, 148, 177);
  width: 80%;
  margin: auto;
}
.project-card {
  display: grid;
  border: .5px solid var(--color-primary-dark);
  background-color:var(--color-primary-dark);
}
.project-card h3 {
  height: 2.1em;
  font-size: 1.6em;
  padding-top: 0.1em;
  color: var(--color-primary);
  text-align: center;
}

img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
}

footer {
  padding: 2rem max(5%, 10px);
  padding-bottom: 6rem;
  font-size: x-large;
  height: fit-content;
}
footer .brand {
  padding-bottom: 0.8em;
  display: block;
}

footer hr {
  margin: 0.8em 0;
  border: 0.5px solid;
}
footer,
footer a {
  background-color: var(--color-primary-dark);
  color: rgb(200, 200, 200);
}

footer a {
  font-size: 0.8em;
  padding-right: 1.5em;
}
a {
  color: rgb(17, 10, 81);
  text-decoration: none;
}

.brand:hover,
a:hover {
  transform: scale(1.01);
  transition-duration: 100ms;
}
/* for tablets */
@media only screen and (max-width: 650px) {
  #navbar {
    font-size: large;
    flex-direction: column;
    padding: 0.5em;
  }

  #welcome-section .hero-name {
    margin-top: -10px;
    display: block;
  }

  .project-card h3 {
    height: 2em;
    font-size: 1.4em;
  }
}
/* for smartphones */
@media only screen and (max-width: 400px) {
  #navbar {
    font-size: medium;
    padding: 1em;
  }
  #welcome-section {
    font-size: x-large;
  }
  .projects {
    row-gap: 2rem;
  }
  .projects header h2 {
    font-size: x-large;
  }
  .project-card {
    width : 90vw;
    margin: auto;
    border-radius: .5rem;
  }
  
   .project-card  img {
    height: 18em;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  .project-card h3 {
    height: 2.3em;
    font-size: 1em;
  }

  footer .brand,
  footer li a {
    display: block;
    margin-bottom: 0.4rem;
    text-align: center;
  }
}
